



{% extends 'base.html' %} {% block content %}
{% load static %}

 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page 2</title>
</head>
<body>
<style>
     body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: rgb;

}





    }

    .head_text {
        color: rgb;
    }

    .card {
        background-color: black;

    }

    h2{
    color: #d3d3d3;
    }

    p{
    color: #d3d3d3;

</style>
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">


    <H2>About Us</H2>
    <p>RenoitVault is a rich tech. blog posting contents relating to technology. The website covers contents across various aspect of  technology over the years. Feel free to visit to explore anytime and contact us if you have any question </p>
           </div>
    </div>
 </div>
    </div>
</body>
</html>
{% endblock content %}
